<div class="page_title">

	<div class="container">
		<div class="title"><h1>Full Width</h1></div>
        <div class="pagenation">&nbsp;<a href="index.html">Home</a> <i>/</i> <a href="#">Pages</a> <i>/</i> Full Width</div>
	</div>
</div><!-- end page title --> 


<!-- Contant
======================================= -->

<div class="container">

	<div class="content_fullwidth">
        	
    <div class="one_half">
      <p>Feel free to talk to our online representative at any time you please using our Live Chat system on our website or one of the below instant messaging programs.</p>
      <br />
      <p>Please be patient while waiting for response. (24/7 Support!)
      <strong>Phone General Inquiries: 1-888-123-4567-8900</strong></p>

      <br />
      <h3>Contact <strong>Form</strong></h3>

      <%= render 'home/contact_form' %>
    </div>
               
    <div class="one_half last">
    
      <div class="address-info">
        <h3>Address <strong>Info</strong></h3>
        <ul>
          <li>
            <strong>Daevon Web</strong><br />

            <i class="fa fa-map-marker fa-lg"></i> B-9, Chitrakut Society, Nr. Rajod Talav, Gamadi Road, Anand – 388001, Gujarat, India<br />

            <i class="fa fa-phone">+91-97235 16289</i><br />

            E-mail: <a href="davejc99@gmail.com">davejc99@gmail.com</a><br />

            Website: <%= link_to "www.daevonweb.com",  root_path %>
          </li>
        </ul>
      </div>

      <h3>Find the <strong>Address</strong></h3>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3684.695569789724!2d72.97737631495919!3d22.553073985192846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3cb99aa1f12dfa20!2sDaevon+Web!5e0!3m2!1sen!2sin!4v1513331794219" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe><br /><small><a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3684.695569789724!2d72.97737631495919!3d22.553073985192846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3cb99aa1f12dfa20!2sDaevon+Web!5e0!3m2!1sen!2sin!4v1513331794219">View Larger Map</a></small>    
    </div>
  </div>
</div><!-- end content area -->


<div class="clearfix mar_top5"></div>