<div class="footer">
	<div class="copyright_info">
    <div class="container">
        <div class="one_full" style="font-align: left;">
          Copyright © 2016-2017 daevonweb. All rights reserved.
        </div>
        <div class="one_full last" style="font-align: right;">
          <a href="#">Sitemap</a>
          |
          <%= link_to "Contact",  contact_us_home_index_path %> 
        </div>
      </div>
    </div>
  </div>
</div>